  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Tomorrow:ital,wght@1,200&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Inter:wght@400;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Mooli&family=Quicksand:wght@400;700&family=Roboto&family=Skranji:wght@400;700&display=swap" rel="stylesheet">

  
  <style>
    {{{ mainCss }}}
    {{{ viewCss }}}

    .studio-view__container {
      position: relative;
    }
  </style>

  <script>
    function getPixels(cm, dpi = 300) {
      const pixels = Math.floor(cm / 2.54 * dpi);
      return pixels % 2 === 0 ? pixels : pixels + 1;
    }

    function rotatePreview(image, rotate) {
       if (!image) {
         return 1;
       }
       const diagonal = Math.sqrt(Math.pow(image.offsetWidth, 2) + Math.pow(image.offsetHeight, 2));

       const calculateAngle = () => {
         if (rotate < 90) {
           return rotate;
         } else if (rotate >= 90 && rotate < 180) {
           return rotate - 90;
         } else if (rotate >= 180 && rotate < 270) {
            return rotate - 180;
         } else if (rotate >= 270 && rotate < 360) {
           return rotate - 270;
         }

         return rotate;
       }

       const newAngle = Math.atan(image.offsetHeight / image.offsetWidth) * 180 / Math.PI;

       const newAngle2 = Math.abs(newAngle - calculateAngle());

       const { offsetWidth, offsetHeight } = image;

       const newWidth = Math.abs(Math.cos(newAngle2 * Math.PI / 180) * diagonal);

       const returnedValue = Number((offsetWidth / newWidth).toFixed(2));

       return returnedValue;
     }
  </script>

{{#unless pdf }}<div class="studio-view">{{/unless}}
  <div class="studio-view__container {{#if pdf }}pdf{{/if}}">

  {{#each blocks as | block | }}
    {{#switch block.type}}
      {{#case 'polaroid'}}
        <div
          block="{{ block.id }}"
          block-type="polaroid"
          background-color="{{ block.settings.backgroundColor.value }}"
          is-white="false"
          print-type="polaroid"
          class="prints product-element prints__polaroid polaroid is-selected {{ block.settings.backgroundColor.label}}" 
          style="background-color: {{ block.settings.backgroundColor.value }};"
          data-block="{{ json block }}"
        >

          {{#each block.childBlocks as | child |}}
            {{#switch child.type}}
              {{#case 'editable-picture'}}
                {{assign 'image' child}}
              {{/case}}

              {{#case 'text'}}
                {{assign 'text' child}}
              {{/case}}
            {{/switch}}
          {{/each}}

          <div
            class="product-element__picture editable-picture {{#unless @root.image.imageUrl }}is-empty{{/unless}}"
            child-block="childBlock-0"
            crop="0"
            rotate="0"
            background-color="rgb(0,255,133)"
            editable-picture=""
            style="background-color: {{ block.settings.backgroundColor.value }};"
          >
            <div class="editable-picture__empty-state" data-empty-state="">
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.10156 3.98131C1.10156 3.00356 1.89418 2.21094 2.87193 2.21094H13.9367C14.9145 2.21094 15.7071 3.00356 15.7071 3.98131V12.3906C15.7071 13.3683 14.9145 14.1609 13.9367 14.1609H2.87193C1.89418 14.1609 1.10156 13.3683 1.10156 12.3906V3.98131Z" stroke="#FF0079" stroke-width="1.77037" stroke-linejoin="round"></path>
                <path d="M4.08594 14.1618L10.9214 6.7567C11.5568 6.06839 12.6184 5.99415 13.3434 6.58732L15.704 8.51875" stroke="#FF0079" stroke-width="1.77037" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M1.10156 6.85938L6.2467 12.0045" stroke="#FF0079" stroke-width="1.77037"></path>
                <path d="M8.73299 8.85104C8.73299 8.18715 7.54405 6.85938 6.07743 6.85938C4.61081 6.85938 3.42188 8.18715 3.42188 8.85104" stroke="#FF0079" stroke-width="1.77037" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </div>

            {{#if @root.image.imageUrl }}
              <div class="editable-picture__mover" style="
                  rotate: {{ @root.image.settings.rotate.value }}deg;
                ">
                <img
                  class="editable-picture__image"
                  draggable="false"
                  
                  src="{{@root.image.imageUrl }}"
                  style="opacity: 0;"
                >
              </div>
            {{/if}}            

          </div>
          
          <div class="textarea-wrapper">
            <div
              line=""
              max-size="20"
              child-block="childBlock-1"
              text-align="{{ @root.text.settings.align }}"
              is-bold="{{ @root.text.settings.fontStyle.bold }}"
              is-italic="{{ @root.text.settings.fontStyle.italic }}"
              is-underline="{{ @root.text.settings.fontStyle.underline }}"
              font="{{ @root.text.settings.font }}"
              class="product-element__text textarea-container"
              editable-text=""
              style="
                font-family: {{ @root.text.settings.font }};
              "
            >
              <span
                class="textarea line"
              >
                {{#if @root.text.settings.text }}
                  {{ @root.text.settings.text }}
                {{/if}}
              </span>
            </div>
          </div>
        </div>
      {{/case}}

      {{#case 'prints'}}
        <div
          print-type="{{ @root.product.resolution.width }}-{{ @root.product.resolution.height }}"
          block="{{ block.id }}"
          block-type="prints"
          class="prints product-element"
          background-color="#fff"
          data-block="{{ json block }}"
        >
          <div
            class="product-element__picture editable-picture"
            child-block="childBlock-0"
            crop="0"
            rotate="0"
            background-color="rgb(255,255,255)"
            editable-picture=""
            style="background-color: {{ block.settings.backgroundColor.value }};"
          >
            <div class="editable-picture__empty-state {{#unless block.childBlocks.0.imageUrl }}is-empty{{/unless}}" data-empty-state="">
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.10156 3.98131C1.10156 3.00356 1.89418 2.21094 2.87193 2.21094H13.9367C14.9145 2.21094 15.7071 3.00356 15.7071 3.98131V12.3906C15.7071 13.3683 14.9145 14.1609 13.9367 14.1609H2.87193C1.89418 14.1609 1.10156 13.3683 1.10156 12.3906V3.98131Z" stroke="#FF0079" stroke-width="1.77037" stroke-linejoin="round"></path>
                <path d="M4.08594 14.1618L10.9214 6.7567C11.5568 6.06839 12.6184 5.99415 13.3434 6.58732L15.704 8.51875" stroke="#FF0079" stroke-width="1.77037" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M1.10156 6.85938L6.2467 12.0045" stroke="#FF0079" stroke-width="1.77037"></path>
                <path d="M8.73299 8.85104C8.73299 8.18715 7.54405 6.85938 6.07743 6.85938C4.61081 6.85938 3.42188 8.18715 3.42188 8.85104" stroke="#FF0079" stroke-width="1.77037" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </div>

            {{#if block.childBlocks.0.imageUrl }}
              <div class="editable-picture__mover" style="
              rotate: {{ block.childBlocks.0.settings.rotate.value }}deg;
              ">
                <img
                  class="editable-picture__image"
                  draggable="false"
                  src="{{ block.childBlocks.0.imageUrl }}"
                  style="opacity: 0;"
                >     
              </div>
            {{/if}}
          </div>
        </div>
      {{/case}}

      {{#case 'puzzle'}}
        <div
          {{#includes '96' @root.product.handle }}
            puzzle-type="96"
          {{/includes}}

          {{#includes '192' @root.product.handle }}
            puzzle-type="192"
          {{/includes}}

          {{#includes '513' @root.product.handle }}
            puzzle-type="513"
          {{/includes}}
          
          block="{{ block.id }}"
          block-type="puzzle"
          background-color="{{ block.settings.backgroundColor.value }}"
          is-white="false"
          class="puzzle product-element is-selected"
          style="background-color: {{ block.settings.backgroundColor.value }};"
          data-block="{{ json block }}"
        >
          <div
            class="product-element__picture editable-picture is-selected" child-block="childBlock-0"
            crop="0"
            rotate="0"
            background-color="{{ block.settings.backgroundColor.value }}"
            editable-picture=""
            style="background-color: {{ block.settings.backgroundColor.value }};"
          >
            <div class="editable-picture__empty-state" data-empty-state="">
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.10156 3.98131C1.10156 3.00356 1.89418 2.21094 2.87193 2.21094H13.9367C14.9145 2.21094 15.7071 3.00356 15.7071 3.98131V12.3906C15.7071 13.3683 14.9145 14.1609 13.9367 14.1609H2.87193C1.89418 14.1609 1.10156 13.3683 1.10156 12.3906V3.98131Z" stroke="#FF0079" stroke-width="1.77037" stroke-linejoin="round"></path>
                <path d="M4.08594 14.1618L10.9214 6.7567C11.5568 6.06839 12.6184 5.99415 13.3434 6.58732L15.704 8.51875" stroke="#FF0079" stroke-width="1.77037" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M1.10156 6.85938L6.2467 12.0045" stroke="#FF0079" stroke-width="1.77037"></path>
                <path d="M8.73299 8.85104C8.73299 8.18715 7.54405 6.85938 6.07743 6.85938C4.61081 6.85938 3.42188 8.18715 3.42188 8.85104" stroke="#FF0079" stroke-width="1.77037" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </div>

            {{> puzzleMask }}
  
            <div class="editable-picture__mover"
              style=" rotate: {{ block.childBlocks.0.settings.rotate.value }}deg;"
            >
              <img
                class="editable-picture__image"
                draggable="false"
                src="/" 
                style="opacity: 0;"
              >
            </div>
          </div>
        </div>
      {{/case}}

      {{#case 'magnet'}}
        <div

          {{#includes 'square' @root.product.handle }}
            magnet-type="square"
          {{/includes}}

          {{#includes 'circle' @root.product.handle }}
            magnet-type="circle"
          {{/includes}}

          {{#includes 'heart' @root.product.handle }}
            magnet-type="heart"
          {{/includes}}

          block="{{ block.id }}"
          block-type="magnet"
          class="magnet product-element {{#includes 'circle' @root.product.handle }}
            magnet--circle
          {{/includes}} {{#includes 'heart' @root.product.handle }}
            magnet--heart
          {{/includes}}"

          {{#includes 'heart' @root.product.handle }}
            {{> heartMask }}
          {{/includes}}
          data-block="{{ json block }}"
        >
          <div
            class="product-element__picture editable-picture {{#unless block.childBlocks.0.imageUrl }}is-empty{{/unless}}"
            child-block="childBlock-36"
            crop="0"
            rotate="0"
            background-color="rgb(255,255,255)"
            editable-picture=""
            style="background-color: {{ block.settings.backgroundColor.value }};"
          >
            <div class="editable-picture__empty-state" data-empty-state="">
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.10156 3.98131C1.10156 3.00356 1.89418 2.21094 2.87193 2.21094H13.9367C14.9145 2.21094 15.7071 3.00356 15.7071 3.98131V12.3906C15.7071 13.3683 14.9145 14.1609 13.9367 14.1609H2.87193C1.89418 14.1609 1.10156 13.3683 1.10156 12.3906V3.98131Z" stroke="#FF0079" stroke-width="1.77037" stroke-linejoin="round"></path>
                <path d="M4.08594 14.1618L10.9214 6.7567C11.5568 6.06839 12.6184 5.99415 13.3434 6.58732L15.704 8.51875" stroke="#FF0079" stroke-width="1.77037" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M1.10156 6.85938L6.2467 12.0045" stroke="#FF0079" stroke-width="1.77037"></path>
                <path d="M8.73299 8.85104C8.73299 8.18715 7.54405 6.85938 6.07743 6.85938C4.61081 6.85938 3.42188 8.18715 3.42188 8.85104" stroke="#FF0079" stroke-width="1.77037" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </div>

            {{#if block.childBlocks.0.imageUrl }}
              <div class="editable-picture__mover" style="
                rotate: {{ block.childBlocks.0.settings.rotate.value }}deg;
              ">
                <img
                  class="editable-picture__image"
                  draggable="false"
                  src="{{ block.childBlocks.0.imageUrl }}"
                  style="opacity: 0;"
                >
              </div>
            {{/if}}
          </div>
        </div>
      {{/case}}

      {{#case 'canvas'}}
        <div
          print-type="{{ @root.product.resolution.width }}-{{ @root.product.resolution.height }}"
          block="{{ block.id }}"
          block-type="canvas"
          class="canvas product-element {{#unless block.childBlocks.0.imageUrl}}is-empty{{/unless}}"
          background-color="#fff"
          data-block="{{ json block }}"
        >
          <div
            class="product-element__picture editable-picture is-selected"
            child-block="childBlock-0"
            background-color="rgb(255,255,255)"
            editable-picture=""
            style="background-color: {{ block.settings.backgroundColor.value }};"
          >
            <div class="editable-picture__empty-state" data-empty-state="">
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.10156 3.98131C1.10156 3.00356 1.89418 2.21094 2.87193 2.21094H13.9367C14.9145 2.21094 15.7071 3.00356 15.7071 3.98131V12.3906C15.7071 13.3683 14.9145 14.1609 13.9367 14.1609H2.87193C1.89418 14.1609 1.10156 13.3683 1.10156 12.3906V3.98131Z" stroke="#FF0079" stroke-width="1.77037" stroke-linejoin="round"></path>
                <path d="M4.08594 14.1618L10.9214 6.7567C11.5568 6.06839 12.6184 5.99415 13.3434 6.58732L15.704 8.51875" stroke="#FF0079" stroke-width="1.77037" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M1.10156 6.85938L6.2467 12.0045" stroke="#FF0079" stroke-width="1.77037"></path>
                <path d="M8.73299 8.85104C8.73299 8.18715 7.54405 6.85938 6.07743 6.85938C4.61081 6.85938 3.42188 8.18715 3.42188 8.85104" stroke="#FF0079" stroke-width="1.77037" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </div>

            {{#if block.childBlocks.0.imageUrl}}
              <div class="editable-picture__mover" style="
                rotate: {{ block.childBlocks.0.settings.rotate.value }}deg;
              ">
                <img
                  class="editable-picture__image"
                  draggable="false"
                  
                  src="{{ block.childBlocks.0.imageUrl }}"
                  style="opacity: 0;"
                >
              </div>
            {{/if}}
          </div>
        </div>
      {{/case}}

      {{#case 'tiles'}}
        <div
          block="block-28"
          block-type="tiles"
          frame="black"
          class="tile product-element in-view"
          data-block="{{ json block}}"
        >
          <div
            class="product-element__picture editable-picture {{#unless block.childBlocks.0.imageUrl}}is-empty{{/unless}}"
            child-block="childBlock-37"
            crop="0"
            rotate="0"
            background-color="rgb(255,255,255)"
            editable-picture=""
            style="background-color: {{ block.settings.backgroundColor.value }};"
          >
            <div class="editable-picture__empty-state" data-empty-state="">
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.10156 3.98131C1.10156 3.00356 1.89418 2.21094 2.87193 2.21094H13.9367C14.9145 2.21094 15.7071 3.00356 15.7071 3.98131V12.3906C15.7071 13.3683 14.9145 14.1609 13.9367 14.1609H2.87193C1.89418 14.1609 1.10156 13.3683 1.10156 12.3906V3.98131Z" stroke="#FF0079" stroke-width="1.77037" stroke-linejoin="round"></path>
                <path d="M4.08594 14.1618L10.9214 6.7567C11.5568 6.06839 12.6184 5.99415 13.3434 6.58732L15.704 8.51875" stroke="#FF0079" stroke-width="1.77037" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M1.10156 6.85938L6.2467 12.0045" stroke="#FF0079" stroke-width="1.77037"></path>
                <path d="M8.73299 8.85104C8.73299 8.18715 7.54405 6.85938 6.07743 6.85938C4.61081 6.85938 3.42188 8.18715 3.42188 8.85104" stroke="#FF0079" stroke-width="1.77037" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </div>

            {{#if block.childBlocks.0.imageUrl }}
                {{#switch block.settings.layout.layout }}
                  {{#case 'squareTile' }}
                    <div class="editable-picture__mask">
                      <svg width="160" height="160" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M160 0H0V160H160V0ZM19 14C16.2383 14 14 16.2383 14 19V141C14 143.762 16.2383 146 19 146H141C143.762 146 146 143.762 146 141V19C146 16.2383 143.762 14 141 14H19Z" fill="white"></path>
                      </svg>
                    </div>
                  {{/case}}

                  {{#case 'roundTile'}}
                    <div class="editable-picture__mask">
                      <svg width="160" height="160" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M160 0H0V160H160V0ZM80 14C43.5508 14 14 43.5488 14 80C14 116.451 43.5508 146 80 146C116.449 146 146 116.451 146 80C146 43.5488 116.449 14 80 14Z" fill="white"></path>
                      </svg>
                    </div>
                  {{/case}}
                {{/switch}}
              

              <div class="editable-picture__mover" style="
                rotate: {{ block.childBlocks.0.settings.rotate.value }}deg;
              ">
                <img 
                  class="editable-picture__image"
                  draggable="false"
                  src=""
                  style="
                    opacity: 0;
                    
                  "
                  data-image-block="{{ block.childBlocks.0.id }}"
                >
              </div>
            {{/if}}
          </div>

          {{#switch block.settings.frame.value}}
            {{#case 'black'}}
              {{> blackFrame }}
            {{/case}}

            {{#case 'white'}}
              {{> whiteFrame }}
            {{/case}}
          {{/switch}}
        </div>
      {{/case}}
    {{/switch}}
  {{/each}} 
  </div>

  <script>
    const images = document.querySelectorAll('.editable-picture__image');

    const productResolution = {
      width: {{ product.resolution.width }},
      height: {{ product.resolution.height }}
    };

    function imageProcessing(image) {

      const product = image.closest('.product-element');

      if (!product) {
        return;
      }

      const block = JSON.parse(product.dataset.block);

      this.editable = image.closest('.editable-picture');

      const containerWidth = this.editable.offsetWidth * 4 * 2;

      this.moverContainer = image.closest('.editable-picture__mover');

      const x = Number(block.childBlocks[0].settings.move.x);
      const y = Number(block.childBlocks[0].settings.move.y);

      const setMoveParams = () => {
        this.mover = this.moverContainer.getBoundingClientRect();
        this.frame = this.editable.getBoundingClientRect();

        this.paddings = {
          x: {
            min: this.mover.left - this.frame.left,
            max: this.mover.right - this.frame.right
          },
          y: {
            min: this.mover.top - this.frame.top,
            max: this.mover.bottom - this.frame.bottom
          }
        }
      }

      image.onload = () => {
        if (!image.src) {
          return;
        }

        image.style.opacity = 1;

        if (image.naturalWidth < containerWidth) {
          console.log(image.naturalWidth, this.editable.offsetWidth, containerWidth)
          image.style.width = (image.naturalWidth * 100 / getPixels(productResolution.width)) + '%';
        }

        const rotateScale = rotatePreview(image, Number(block.childBlocks[0].settings.rotate.value));
        const cropValue = 1 + (Math.round((Number(block.childBlocks[0].settings.crop.value) / 50) * 100) / 100);

        this.moverContainer.style.scale = (rotateScale * cropValue).toFixed(2);

        setMoveParams();

        const xPosition = x > 0
          ? Number((this.paddings.x.min * x / 100).toFixed(2))
          : Number((this.paddings.x.max * x / -100).toFixed(2));

        const yPosition = y > 0
          ? Number((this.paddings.y.min * y / 100).toFixed(2))
          : Number((this.paddings.y.max * y / -100).toFixed(2));

        const xPercent = Number((xPosition * 100 / this.frame.width).toFixed(2));
        const yPercent = Number((yPosition * 100 / this.frame.height).toFixed(2));

        this.moverContainer.style.translate = `${xPercent}% ${yPercent}%`;

        this.xPosition = this.frame.width * xPercent / 100;
        this.yPosition = this.frame.height * yPercent / 100;

      }

      image.src = `${block.childBlocks[0].imageUrl}?width=${containerWidth}`;
    };

    images.forEach(image => imageProcessing.call({}, image));
  </script>
{{#unless pdf }}</div>{{/unless}}